@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;500;600;700;800&display=swap');

html {
  font-family: 'Alexandria', sans-serif;

}


.open-modal {
  opacity: 1;
  z-index: 30;
  width: 24rem;
}
.close-modal {
  opacity: 0;
  z-index: 0;
  width: 0px
}


.isSelected {

  --tw-text-opacity: 1;
  color: #12172c

}

  .shadows {
  border-radius: 50%;
  background: linear-gradient(145deg, #12172b, #232846);
  box-shadow:  20px 20px 45px #0e1020,
             -20px -20px 45px #384080;
}

.shadows-dark {
  border-radius: 100%;
  background: linear-gradient(145deg, #12172c, #151c34);
}

.stylePomodoro {
  background: rgb(245,110,111);
background: linear-gradient(0deg, rgba(245,110,111,1) 0%, rgba(245,122,110,1) 35%, rgba(245,161,110,1) 100%);}


.left0 {
  left: 0px;
}


.left28 {
  left: 7rem;
}


.left56 {
  left: 14rem;
}

@media (min-width: 640px) {
  .left28{
    left: 8rem;
  }
  .left56 {
    left: calc(16rem - 3px);
  }
}